.chat-app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chat-app .app {
  flex: 0 1 auto;
  justify-content: space-around;
  width: 300px;
  height: auto;
  margin: auto;
}
.chat-app .app .chat-pane .chat-log {
  border: 1px solid #cccccc;
  min-height: 400px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
}
.chat-app .app .chat-pane .chat-log .text {
  display: flex;
  flex-wrap: nowrap
}
.chat-app .app .chat-pane .chat-log .text-sent {
  flex-direction: row-reverse;
}
.chat-app .app .chat-pane .chat-log .text-received {
  flex-direction: row;
}
.chat-app .app .chat-pane .chat-input {
  padding-top: 8px;
  padding-bottom: 8px;
}
