.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.app {
  height: auto;
  margin: auto;
  font-family: Helvetica, sans-serif;
  font-size: 12px;

  min-height: 480px;
  min-width: 320px;
  width: 320px;
}

@import "./chat-pane.scss"