/* App styling */

/* temporary */
* {
    box-sizing: border-box;
}

/* @todo Use bootstrap
    @todo Use normalize
*/
.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.app {
  height: auto;
  margin: auto;
  font-family: Helvetica, sans-serif;
  font-size: 12px;

  min-height: 480px;
  min-width: 320px;
  width: 320px;
}
.app .chat-pane > div {
  padding: 8px 12px;
}
.app .chat-pane {
  border: 1px solid #cccccc;
}
.app .chat-pane > div + div {
  border-top: 1px solid #cccccc; /* matching chat-pane */
}
.app .chat-pane .chat-header-title {
  text-align: center;
  font-weight: bold;
}
.app .chat-pane .chat-log {
  height: 400px;
  overflow-y: auto;
}
.app .chat-pane .chat-log .log-message {
  flex-flow: row nowrap
}
.app .chat-pane .chat-log .log-message + .log-message,
.app .chat-pane .chat-log .chat-log-signal {
  margin-top: 8px;
  margin-bottom: 8px;
}
.app .chat-pane .chat-log .log-message.message-sent {
  flex-direction: row-reverse;
  margin-left: 30px;  /* where this value > width(.text-received .avatar) + any right margin and right padding */
}
.app .chat-pane .chat-log .log-message.message-received {
  margin-right: 30px;  /* where this value > width(.text-sent .avatar) + any left margin and left padding */
}
.app .chat-pane .chat-log .log-message .avatar {
  /*display: none;*/
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  flex: 0 0 auto;
  text-align: center;
  vertical-align: middle;
}
.app .chat-pane .chat-log .log-message .text,
.app .chat-pane .chat-log .log-message .signal {
  border-radius: 10px;
  padding: 5px 10px;  /* left and right should = border-radius to maintain the proper margin offset with radius */
  background-color: #eeeeee;
}
.app .chat-pane .chat-log .log-message.message-received .avatar {
  background-color: blue;
  color: white;
  margin-right: 10px;
}
.app .chat-pane .chat-log .log-message.message-received .text {
  background-color: blue;
  color: white;
}
.app .chat-pane .chat-log .log-message.message-sent .avatar {
  background-color: red;
  color: white;
  margin-left: 10px;
}
.app .chat-pane .chat-log .log-message.message-sent .text {
  background-color: red;
  color: white;
}
.app .chat-pane .chat-input {
}
.app .chat-pane .chat-input.design1 {
  display: flex;
  flex-flow: row nowrap;
}
.app .chat-pane .chat-input.design1 .chat-input-text {
  flex: 1 1 auto;
  resize: none;
  border: none;
  outline: none;
  overflow-y: scroll;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  max-height: 250px;
}
.app .chat-pane .chat-input.design1 .chat-input-text-submit {
  flex: 0 1 50px;
}

.app .chat-pane .chat-input.design2 {
  position: relative;
}
.app .chat-pane .chat-input.design2 .chat-input-text {
  width: 100%;
  border: none;
  outline: none;
  padding-right: 60px; /* relative to submit: +10px */
  resize: none;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  max-height: 250px;
}
.app .chat-pane .chat-input.design2 .chat-input-text-submit {
  position: absolute;
  width: 50px;
  margin-left: -50px; /* relative to width: same */
}
