/* App styling */
.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.app {
  width: 300px;
  height: auto;
  margin: auto;
}
.app .chat-pane .chat-log {
  border: 1px solid #cccccc;
  min-height: 400px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
}
.app .chat-pane .chat-log .text {
  flex-flow: row nowrap
}
.app .chat-pane .chat-log .text .avatar {
  /*display: none;*/
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.app .chat-pane .chat-log .text-received .avatar {
  background-color: blue;
  margin-right: 10px;
}
.app .chat-pane .chat-log .text-sent .avatar {
  background-color: red;
  margin-left: 10px;
}
.app .chat-pane .chat-log .text + .text {
  margin-top: 8px;
  margin-bottom: 8px;
}
.app .chat-pane .chat-log .text-sent {
  flex-direction: row-reverse;
  margin-left: 30px;  /* where this value > width(.text-received .avatar) + any right margin and right padding */
}
.app .chat-pane .chat-log .text-received {
  flex-direction: row;
  margin-right: 30px;  /* where this value > width(.text-sent .avatar) + any left margin and left padding */
}
.app .chat-pane .chat-input {
  padding-top: 8px;
  padding-bottom: 8px;
}
