// variables.scss

$app-sm-width: 320px;

$chat-pane-log-message-avatar-line-height: 24px;
$chat-pane-log-message-avatar-width: $chat-pane-log-message-avatar-line-height;
$chat-pane-log-message-avatar-height: $chat-pane-log-message-avatar-line-height;
